body {
  background-attachment: fixed;
  background-size: 100% 100%;
}

#container {
  position: relative;
  border: 5px solid gray;
  border-radius: 7px;
  padding-top: 1.75%;
  padding-bottom: 1.75%;
}

.separator-small { margin-top: 2%; }
.separator-medium { margin-top: 5%; }

.logo {
  display: inline-block;
  border-radius: 7px;
  border: solid 1px gray;  
  margin: 0.5%;
  transition: box-shadow 0.5s;  
}
.logo img { border-radius: 7px; }
.logo:hover { box-shadow: 0 0 15px black; }
.logo:link, .logo:visited, .logo:hover, .logo:active { color: transparent; }

.badge { padding: 4px 6px; }
.badge img { width: 20px; }
.badge-dark { background-color: #292b2c; }
.badge-info {
	background-color: #5bc0de;
	color: black;
}
.badge-primary { background-color: #0275d8; }
.badge-faded {
	background-color: #f7f7f7;
	color: black;
}
.badge-success { background-color: #5cb85c; }
.badge-warning {
	background-color: #f0ad4e;
	color: black;
}
.badge-danger { background-color:#d9534f; }

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.6;
  z-index: -1;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .fit-icon { padding: 0; }
  .fit-icon a { width: 90%; }
  .fit-icon img { width: 100%;}
}

@media (max-width: 768px) {
  .logo { transition: none; }
  .logo:hover { box-shadow: none; }
  .container { width: 290px; }
  #container { padding: 0; }
}
